---
Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
ContinuationIndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
BreakBeforeBraces: Attach
AlwaysBreakAfterReturnType: TopLevelDefinitions
AlignAfterOpenBracket: Align
AlignOperands: Align
BinPackArguments: false
BinPackParameters: false
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
DerivePointerAlignment: false
PointerAlignment: Left
ReflowComments: true
SortIncludes: Never
SpaceBeforeParens: ControlStatements
StatementMacros:
  - _Acquires_exclusive_lock_
  - _Acquires_lock_
  - _Acquires_shared_lock_
  - _Guarded_by_
  - _IRQL_lowers_
  - _IRQL_raises_
  - _IRQL_requires_
  - _IRQL_requires_max_
  - _IRQL_requires_min_
  - _IRQL_requires_same_
  - _IRQL_restores_
  - _IRQL_saves_
  - _Releases_exclusive_lock_
  - _Releases_lock_
  - _Releases_shared_lock_
  - _Requires_lock_held_
  - _Success_
  - _Use_decl_annotations_
  - _When_
...
